MONGODB_URI=mongodb+srv://user:pass@cluster/bildyapp?appName=BildyApp
PORT=3000
JWT_ACCESS_SECRET=access_secret_min32chars_requerido_aqui
JWT_REFRESH_SECRET=refresh_secret_min32chars_requerido_aqui
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
