# Servidor
PORT=3000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://user:pass@cluster/bildyapp

# JWT
JWT_ACCESS_SECRET=access_secret_min32chars_requerido
JWT_REFRESH_SECRET=refresh_secret_min32chars_requerido
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# Mailtrap
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=tu_mailtrap_user
MAILTRAP_PASS=tu_mailtrap_pass
MAILTRAP_FROM=noreply@bildyapp.com

# Slack
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx/yyy/zzz
